<div class="row">
    <div class="col-lg-12" >
        <h1>Blog Articles</h1>
        <!-- LOADING ICON =============================================== -->
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

        <!-- start a angular loop to show all blog articles -->
        <div class="panel panel-default" ng-repeat="article in articles">
            <!-- Got to use the article.article_X pattern as the returned data is pre-pended with the article_ -->
            <div class="panel-heading"><h3><a href="#/blog/{{ category.category_id }}">{{ article.article_title }}</a></h3></div>
        </div>
    </div>
</div>